[Unit]
Description=Daily Warbitrer Postgres Backup

[Timer]
OnCalendar=*-*-* 03:15:00 UTC
Persistent=true
Unit=warbitrer-postgres-backup.service

[Install]
WantedBy=timers.target
